html {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: #ff008e;
}

.container-fluid {
  padding: 3% 15% !important;
}

.main-h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: bolder;
  line-height: 1.5;
  color: white;
}

.iphone6 {
  width: 60%;
  transform: rotate(25deg);
  position: relative;
  left: 40%;
}

/* Navbar */

.navbar {
  padding: 0 0 4.5rem 0 !important;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem !important;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
}

/* Download Button */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Features */
#features {
  text-align: center;
  padding: 10% 15%;
  background-color: white;
}

.f-div h3 {
  font-weight: bold;
}

.f-div p {
  padding: 0 10%;
  color: #8f8f8f;
  font-size: 1.2rem;
}

.f-div i {
  color: #ff008e;
  padding-bottom: 5%;
}

.f-div i:hover {
  color: #d22779;
}

/* Testimonials */

#testimonials {
  text-align: center;
  background-color: #d22779;
  margin-top: 0;
  /* padding: 7% 15%; */
}

.testimonials {
  color: white;
}

.testimonials h2 {
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
}

.testimonials-img {
  width: 15%;
  border-radius: 100%;
  border: solid white 5px;
  padding: 0 0.5%;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */
#press {
  text-align: center;
  background-color: #d22779;
}

.press-img {
  width: 10%;
  padding: 4% 1%;
}

/* Pricing */

#pricing {
  text-align: center;
  padding: 100px;
}

.card-col {
  padding: 2%;
}

@media (max-width: 1000px) {
  .iphone6 {
    position: static;
    transform: rotate(0deg);
  }

  .container-fluid {
    text-align: center;
  }
}

/* CTA */

#cta {
  background-color: #d22779;
  text-align: center;
}

.cta-h3 {
  color: white;
  font-size: 3rem;
  font-family: "Ubuntu";
  font-weight: bolder;
  padding: 5% 30% 0 30%;
}

@media (max-width: 600px) {
  .testimonial-text {
    font-size: 2rem;
  }

  .cta-h3 {
    font-size: 2rem;
    padding: 5% 5%;
  }
}

/* Footer */

#footer {
  padding: 7%;
  text-align: center;
}

.fa {
  padding-inline: 1%;
}

.footer-text {
  color: #8f8f8f;
  font-family: "Ubuntu";
  font-size: 1.2rem;
}
